@font-face {
    font-family: MonumentExtended-Regular;
    src: url(fonts/MonumentExtended-Regular.otf);
}
@font-face {
    font-family: MPLUSRounded1c bold;
    src: url(fonts/MPLUSRounded1c-Bold.ttf);
}
@font-face {
    font-family: Helvetica;
    src: url(fonts/Helvetica.ttf);
}
h1, h2{
    font-family: MPLUSRounded1c bold;
    font-size: 2rem;
}
p, li, input{
    font-family: Helvetica;
    font-size: 1rem;
}
nav a {
    font-family: MPLUSRounded1c bold;
}
#Servicios h1{
    font-family: MonumentExtended-Regular;
    font-size: 1.5rem;
}
button, span{
    font-family: MPLUSRounded1c bold;
    font-size: 1.5vw;
}
#Formulario input.enviar{
    font-family: MPLUSRounded1c bold;
    font-size: 1.5rem;
}